.swiper-pagination-bullet-active {
  background-color: #ff753a !important;
}

.swiper-wrapper {
  margin-bottom: 45px !important;
  display: flex !important;
  align-items: center !important;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-pagination-bullet {
  width: 10px !important; 
  height: 10px !important;
}

.swiper-button-next {
  color: #fd540b !important; 
}

.swiper-button-prev {
  color: #fd540b !important;
}

.swiper-button-disabled {
  color: #fd540b !important;
  opacity: 0.3 !important;
}

@media screen and (max-width: 640px) {
  .swiper-button-next {
    display: none !important;
  }

  .swiper-button-prev {
    display: none !important;
  }
}
